{% extends "layout.html" %} {% block title %} Edit Budget Spending {% endblock
%} {% block main %}
<h2>Edit: Spending</h2>
<hr />
<form
  action="/edit-spending/{{spending['id']}}"
  method="post"
  id="spending-form"
>
  <div class="form-group">
    <select class="form-control" id="spending-categories" name="categories">
      <option disabled>Spending types</option>
      {% for i_type in i_types %} {% if i_type['id'] ==
      spending['categories_id'] %}
      <option value="{{i_type['name']}}" selected>{{i_type['name']}}</option>
      {% else %}
      <option value="{{i_type['name']}}">{{i_type['name']}}</option>
      {% endif %} {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <input
      class="form-control"
      name="name"
      placeholder="Name"
      type="text"
      min="3"
      max="256"
      value="{{spending['name']}}"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      name="cash"
      placeholder="Cash"
      type="text"
      value="{{spending['cash'] * -1}}"
    />
  </div>
  <button class="btn btn-primary" type="submit">Edit</button>
  <a class="btn btn-danger ml-3" href="/spending">Cancel</a>
</form>
{% endblock %}
