{% extends "layout.html" %} {% block title %} Add Budget Income {% endblock %}
{% block main %}
<h2>Add: Income</h2>
<hr />
<form action="/add-income" method="post" id="income-form">
  <div class="form-group">
    <select class="form-control" id="income-categories" name="categories">
      <option selected disabled>Income types</option>
      {% for i_type in income_types %}
      <option value="{{i_type['name']}}">{{i_type['name']}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <input
      class="form-control"
      name="name"
      placeholder="Name"
      type="text"
      min="3"
      max="256"
    />
  </div>
  <div class="form-group">
    <input class="form-control" name="cash" placeholder="Cash" type="text" />
  </div>
  <button class="btn btn-primary" type="submit">Add</button>
  <a class="btn btn-danger ml-3" href="/income">Cancel</a>
</form>
{% endblock %}
